@page "/"

<PageTitle>Home</PageTitle>

<!-- ======= Hero Slider Section ======= -->
<section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
        <div class="row">
            <div class="col-12">
                <div class="swiper sliderFeaturedPosts">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/pork1.jpg');">
                                <div class="img-bg-inner">
                                    <h2 style="font-size: 65px; text-shadow: -3px -2px 5px black;">Pork Loin Recipes to Die For!</h2>
                                    <p style="font-size: 30px;">Simple.     Easy.     Healthy.<br/>The perfect meal for your hungry family.</p>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-2.jpg');">
                                <div class="img-bg-inner">
                                    <h2>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-3.jpg');">
                                <div class="img-bg-inner">
                                    <h2>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-4.jpg');">
                                <div class="img-bg-inner">
                                    <h2>9 Half-up/half-down Hairstyles for Long and Medium Hair</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="custom-swiper-button-next">
                        <span class="bi-chevron-right"></span>
                    </div>
                    <div class="custom-swiper-button-prev">
                        <span class="bi-chevron-left"></span>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero Slider Section -->
<!-- ======= Post Grid Section ======= -->
<section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">

            <div class="col-lg-4">
                <div class="post-entry-1 lg">
                    <a href="single-post.html"><img src="assets/img/wecare.png" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">For Producers</span> <span class="mx-1">&bullet;</span> <span>Jan 5th '24</span></div>
                    <h2><a href="single-post.html">WE CARE</a></h2>
                    <p class="mb-4 d-block">
                        America’s pork producers supply the highest quality and safest pork in the world. 
                        We’ve earned the trust of generations of consumers by delivering on our promise to produce pork responsibly.
                    </p>
                    <div class="d-flex align-items-center author">
                        <div class="photo"><img src="assets/img/person-1.jpg" alt="" class="img-fluid"></div>
                        <div class="name">
                            <h3 class="m-0 p-0">Allison Fiscus</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 border-start custom-border" style="background-color: #efefef;">
                <div class="post-entry-1 lg">
                    <div class="post-meta" style="margin-top: 20px;">
                        <span class="date">For Producers</span> <span class="mx-1">&bullet;</span> <span>Jan 12th '24</span>
                    </div>
                    <h2><a href="single-post.html">PQA PLUS</a></h2>
                    <a href="single-post.html"><img src="assets/img/pqaPlusLogo.jpg" alt="" class="img-fluid"></a>
                    <p class="mb-4 d-block">
                        In 1989, pork producers developed the Pork Quality Assurance®program, a producer education and certification program to reduce the risk of violative animal health product residues in pork. 
                        In 2007, the program was enhanced and became known as Pork Quality Assurance Plus (PQA Plus®). 
                        PQA Plus is a producer-driven program they can use to ensure U.S. pork products are of the highest quality and safe, 
                        and animals raised for food are cared for in a way ensuring their well-being.
                    </p>

                    <div class="d-flex align-items-center author">
                        <div class="photo"><img src="assets/img/person-1.jpg" alt="" class="img-fluid"></div>
                        <div class="name">
                            <h3 class="m-0 p-0">Allison Fiscus</h3>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1 lg">
                    <!--<a href="single-post.html"><img src="assets/img/wecare.png" alt="" class="img-fluid"></a>-->
                    <div class="post-meta"><span class="date">For Producers</span> <span class="mx-1">&bullet;</span> <span>Jan 5th '24</span></div>
                    <h2><a href="single-post.html">WHAT YOU NEED TO KNOW ABOUT COVID-19</a></h2>
                    <p class="mb-4 d-block">
                        U.S. and state government leaders are working with public health officials to respond to a global 
                        outbreak of respiratory illnesses caused by a new coronavirus.
                    </p>

                    <div class="d-flex align-items-center author">
                        <div class="photo"><img src="assets/img/person-1.jpg" alt="" class="img-fluid"></div>
                        <div class="name">
                            <h3 class="m-0 p-0">Allison Fiscus</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- End .row -->
    </div>
</section> <!-- End Post Grid Section -->
